:root {
  --font-family-raleway: "Raleway", sans-serif;
  --font-family-roboto: "Roboto", sans-serif;
  --slate: #434455;
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --white: #fff;
  --cloud: #f4f4fd;
}

body {
  background-color: #fff;
  font-family: var(--font-family-roboto);
}

/* header */

.logo {
  font-family: var(--font-family-raleway);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-left {
  color: var(--iris);
}

.logo-right {
  color: var(--navy-blue);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: var(--navy-blue);
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration-line: none;
}

nav ul li a:hover {
  color: var(--ocean);
}

nav ul li .active {
  color: var(--iris);
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.contact-info li a {
  color: var(--slate);
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration-line: none;
}

.contact-info li a:hover {
  color: var(--ocean);
}

.hero {
  background: var(--navy-blue);
}

.hero > h1 {
  color: var(--white);
  text-align: center;
  font-family: var(--font-family-roboto);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.hero > button {
  color: var(--white);
  border: 0;
  border-radius: 4px;
  background: var(--iris);
}
.hero > button:hover {
  background: var(--ocean);
  cursor:pointer;
}

/* header */

/* main */
.core-values > li > h3 {
  color: var(--navy-blue);
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.core-values > li > p {
  color: var(--slate);
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.section-title {
  color: var(--navy-blue);
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
}

.team > h3 {
  color: var(--navy-blue);
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.team > p {
  color: var(--slate);
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* main */

/* footer */
footer {
  background: var(--navy-blue);
}

footer .logo {
  font-family: var(--font-family-raleway);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

footer .logo .logo-left {
  color: var(--iris);
}

footer .logo .logo-right {
  color: var(--white);
}

footer > p {
  color: var(--cloud);
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* footer */
